/*Ставим по центру и фиксируем контейнер*/
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.overflow {
    overflow-x: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*Добавляем отсупы по вертикале*/
.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.table {
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-collapse: collapse; /* схлопываем рамки */
}

/*Центрируем текст*/
.table th, td {
    text-align: center;
    padding: 10px;
}

.table th {
    background-color: rebeccapurple;
    color: #ffffff;
}

/*Для всех нечетных*/
.table th:nth-child(odd) {
    background-color: #7c5b9f;
}

.table tr:nth-child(odd) {
    background-color: #fcf2fd;
}

.table tr {
    transition: all .3s ease;
}

.table tr:hover {
    background: #ccc;
}

.table td:not(:last-child) {
    border-right: 1px solid #ccc;
}


@media (max-width: 950px)
{
    .table-2 {
        display: block;
        width: 100%;
    }

    .table-2 thead,
    .table-2 tbody,
    .table-2 thead th{
        display: block;
    }

    .table-2 thead {
        float: left;
    }

    .table-2 tbody {
        overflow-x: auto;
    }

    .table-2 tbody tr {
        display: table-cell;
        border-right: 1px solid #ccc;
    }

    .table-2 tbody tr:last-child {
        border-right: none;
    }

    .table.table-2 td {
        display: block;
        width: 140px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }



}